#clazzContext {
	width: 100%;
	position: relative;
}
#showClazz {
	width: 100%;
	min-height: 300px;
	background-color: red;
	position: absolute;
	display: block;
}
#addClazz {
	width: 100%;
	min-height: 300px;
	background-color: green;
	position: absolute;
	display: none;
}
#updateClazz {
	width: 100%;
	min-height: 300px;
	background-color: greenyellow;
	position: absolute;
	display: none;
}
